@tailwind base;
@tailwind components;
@tailwind utilities;


.type{
  @apply text-center text-3xl font-bold mb-4
  text-center text-3xl font-bold mb-4
  text-center text-3xl font-bold mb-4 mt-2
}

.carting{
  animation: bounce 2s ease-in-out infinite;

}
.bar{
  animation: bounce 2s ease-in-out infinite;

}
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .none{
    transform: scale(0);
  }
  